{% extends 'marathi/Admin.html' %}

{% block a %}
<style>
.img-responsive
{
	height: 250px;
}
</style>
<div class="container">
  <h1>About Detail </h1>
   <div class="row">
	 <div class="col-sm-4 col-md-4">
       <div class="panel panel-info">
	    <div class="panel panel-heading">
		  <h2>{{movie.movie_name}}</h2>
	    </div>
	    <div class="panel-body">
		  <img src="{{movie.movie_image.url}}" class="img-responsive" width="250px">

		   <div align="right">
		   	<span class="glyphicon glyphicon-hand-right" style="color:blue"></span>
		     <a href="{% url 'Mdetail' %}"><input type="button" value="View Detail" class="btn btn-primary btn-sm"></a>
           </div>
	     </div>
	    </div>
     </div>
      
      <div class="col-sm-4 col-md-4">
	     <div class="panel panel-success">
	       <div class="panel panel-heading">
		      <h2>Producer Name</h2>
	       </div>
	       <div class="panel-body">
		      <h4 style="color:darkolivegreen">{{movie.movie_producer}}</h4>
	       </div>
	       <div class="panel panel-heading" style="background-color:salmon">
		       <h2>Producer Name</h2>
	       </div>
	       <div class="panel-body">
		       <h4>{{movie.movie_producer}}</h4>
	       </div>
          </div>
      </div>
 </div>
</div>

{% endblock %}