{% extends 'marathi/Admin.html' %}

{% block a %}
<div class="container">
  <h1>This is Detail page</h1>
   <div class="row">
	 <div class="col-sm-4 col-md-4">
       <div class="panel panel-info">
	    <div class="panel panel-heading">
		  <h2>{{movie.movie_name}}</h2>
	    </div>
	    <div class="panel-body">
		  <img src="{{movie.movie_image.url}}" width="250px" height="300px">

		   <div align="right">
		     <a href="{% url 'Mdetail' %}"><input type="button" value="View Detail" class="btn btn-primary btn-sm"></a>
               
               <a href="{% url 'del-movie' movie.id  %}">
		       <button type="submit" class="btn btn-danger btn-sm" />
                  <span class="glyphicon glyphicon-trash"></span>
               </button>
               <a href="{% url 'up-movie' movie.id %}">
	           <button type="submit" class="btn btn-success btn-sm" />
                   <span class="glyphicon glyphicon-trash"></span>
               </button></a>

           </div>
	     </div>
	    </div>
     </div>
      
      <div class="col-sm-4 col-md-4">
	     <div class="panel panel-success">
	       <div class="panel panel-heading">
		      <h2>Producer Name</h2>
	       </div>
	       <div class="panel-body">
		      <h4 style="color:darkolivegreen">{{movie.movie_producer}}</h4>
	       </div>
	       <div class="panel panel-heading" style="background-color:salmon">
		       <h2>Producer Name</h2>
	       </div>
	       <div class="panel-body">
		       <h4>{{movie.movie_producer}}</h4>
	       </div>
          </div>
      </div>
 </div>
</div>

{% endblock %}